header,
nav,
section,
Aside,
Footer {
    background-color: #ebebeb;
    text-align: center;
}
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777;
    background: #777;
    width: 960px;
    font-size: 18px;


}
article{
    color: #ebebeb;
    background-color: #ebebeb;
}